---
// SSR on this page only. Elsewhere, SSG
// export const prerender = false;

// src/pages/events.astro
import Layout from "../layouts/Layout.astro";
import { EventsCalendar } from "../components/EventsCalendar";
import UpcomingEvents from "../components/UpcomingEvents.astro";
import UpcomingEventsFallback from "../components/UpcomingEventsFallback.astro";
import { loadEventsPublishedCached } from "../domain/events/server.ts";
import type {EventItem} from "../domain/events/types.ts";

const events: EventItem[] = await loadEventsPublishedCached();
const title = "Events";
---

<Layout title={title}>
    <article class="page-article page-article--stack space-y-6">
        <h1 class="page-title">{title}</h1>

        <UpcomingEvents events={events} server:defer>
            <UpcomingEventsFallback slot="fallback" />
        </UpcomingEvents>

        <!-- <UpcomingEventsFallback slot="fallback" /> -->

        <EventsCalendar client:load events={events} />
    </article>
</Layout>
