---
import { iconRegistry } from "./graphics/icons/registry";
import { socialTypes } from "../domain/contact/defs.ts";

import type {SocialItems} from "../domain/contact/types.ts";

const {
    links = [],
    class: className = "",
    anchorClass = "",
    iconClass = "w-6 h-6 fill-current",
} = Astro.props as {
    links?: SocialItems;
    class?: string;
    anchorClass?: string;
    iconClass?: string;
};

const aAttrs = { target: "_blank", rel: "noopener noreferrer" };
---

<div class={`flex items-center gap-3 ${className}`}>
    {
        socialTypes.map((key) => {
            const item = links.find(
                (item) => item.type === key && item.enabled,
            );
            const href = item?.href;

            const entry = iconRegistry[key];
            if (!entry) return null;

            const { label, Icon } = entry;
            return (
                item && (
                    <a
                        href={href}
                        aria-label={label}
                        {...aAttrs}
                        class={`flex items-center ${anchorClass}`}
                    >
                        <Icon class={iconClass} />
                    </a>
                )
            );
        })
    }
</div>
