---
import { getEntry } from "astro:content";
import "../styles/global.css";
import { defaults } from "../config/site";

const site = await getEntry("siteInfo", "main");
const siteName = site?.data?.siteName ?? defaults.siteName;

const {
    title: pageTitle,
    preloadImage,
    bodyClass = "",
    bodyStyle = "",
    htmlLang = "en",
} = Astro.props;

const title = pageTitle ?? siteName;
---

<!doctype html>
<html lang={htmlLang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>{siteName}{title}</title>
        {preloadImage && <link rel="preload" as="image" href={preloadImage} />}
        <slot name="head" />
    </head>
    <body class={bodyClass} style={bodyStyle}>
        <slot />
    </body>
</html>
