---
// SSR on this page only. Elsewhere, SSG
// export const prerender = false;

// src/pages/index.astro
import Layout from "../../layouts/Layout.astro";
import { EventsCalendar } from "../../components/EventsCalendar.tsx";
import UpcomingEvents from "../../components/UpcomingEvents.astro";
import UpcomingEventsFallback from "../../components/UpcomingEventsFallback.astro";
import { getTransformedEventItemsCached } from "../../domain/events/server.ts";
import type {EventItem} from "../../domain/events/types.ts";
import ContactPageHeading from "../../components/decor/ContactPageHeading.astro";
import EventsPageHeading from "../../components/decor/EventsPageHeading.astro";

const events: EventItem[] = await getTransformedEventItemsCached();
const title = "Events";
const description = "View upcoming guest spots, events, and special appearances at BluTattoo.";
---

<Layout title={title} description={description}>
    <article class="page-article page-article--stack space-y-6">
        <header>
            <h1 class="page-heading sr-only">{title}</h1>
            <EventsPageHeading title={title} />

        </header>

        <UpcomingEvents events={events} server:defer>
            <UpcomingEventsFallback slot="fallback" />
        </UpcomingEvents>

        <!-- <UpcomingEventsFallback slot="fallback" /> -->

        <EventsCalendar client:load events={events} />
    </article>
</Layout>
