---
import data from "../../domain/decor/data/question-marks.json";
import {questionMarkImages} from "../../domain/decor/defs.ts";
import type {QuestionMarkId} from "../../domain/decor/types.ts";

type QuestionMarkMeta = {
    id: QuestionMarkId;
    backgroundSize?: "cover" | "contain" | "auto";
    backgroundPosition?: string;
    backgroundRepeat?: "no-repeat" | "repeat" | "repeat-x" | "repeat-y";
};

const {
    class: className,
    title,

} = Astro.props as {
    class?: string,
    title: string,
};
const chars = Array.from(title.toUpperCase());
const questionMarks = data as QuestionMarkMeta[];

const bottomLetters = Array.from("Frequently Asked Questions");
const drop = 10;
const dur = 0.5;
---

<div class="faq-page-heading h-[70vh] sm:h-[80vh] flex flex-col justify-center items-center bg-radial from-black to-[#3525A1]">
    <div class="relative aspect-square box-border p-5">
        <div class="faq-page-heading-decor-container p-5">
            <div class="faq-page-heading-outer rounded-full p-5">
                <div class="faq-page-heading-inner rounded-full">
                    <div class="faq-page-heading-decor">
                        <script define:vars={{questionMarks, questionMarkImages}}>
                            (() => {
                                const root = document.currentScript.parentElement;
                                const selectedQuestionMark = questionMarks[Math.floor(Math.random() * questionMarks.length)];
                                const selectedQuestionMarkImage = questionMarkImages[selectedQuestionMark.id];

                                root.style.backgroundImage = `url(${selectedQuestionMarkImage.src})`;
                                root.style.backgroundSize = selectedQuestionMark.backgroundSize ?? "contain";
                                root.classList.add("is-ready");

                            })();
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <svg
                class="faq-page-heading-decor-text"
                viewBox="5 5 290 290"
                aria-hidden="true"
        >
            <defs>
                <path
                        id="faq-bottom-arc"
                        d="M 30 150 A 120 120 0 0 0 270 150"
                />
            </defs>

            <text  class="ring-text" dy="18">
                <textPath href="#faq-bottom-arc" startOffset="50%" text-anchor="middle">
                    {'\u200B'}
                    {
                        bottomLetters.map((letter, i) => (
                                <tspan dy={drop} opacity="0">{letter}<animate
                                            class="letter-anim"
                                            attributeName="dy"
                                            from={String(drop)}
                                            to="0"
                                            dur={`${dur}s`}
                                            begin="indefinite"
                                            fill="freeze"
                                    /><animate
                                            class="letter-anim"
                                            attributeName="opacity"
                                            from="0"
                                            to="1"
                                            dur={`${dur}s`}
                                            begin="indefinite"
                                            fill="freeze"
                                    /></tspan>
                        ))
                    }
                </textPath>
            </text>
        </svg>
        <script is:inline>
            (() => {
                const setupLogoAnimation = () => {
                    const wrap = document.querySelector('.faq-page-heading');
                    if (!wrap) return;

                    const allAnimates = [...wrap.querySelectorAll('.letter-anim')];

                    let hasPlayed = false;

                    const observer = new IntersectionObserver(
                        (entries) => {
                            const entry = entries[0];
                            if (!entry.isIntersecting || hasPlayed) return;

                            hasPlayed = true;

                            allAnimates.forEach((anim, index) => {
                                const delay = Math.floor((index / 2) * 60);
                                // divide by 2 because each letter has 2 animate tags: dy + opacity

                                setTimeout(() => {
                                    if (typeof anim.beginElement === 'function') {
                                        anim.beginElement();
                                    }
                                }, delay);
                            });

                            observer.disconnect();
                        },
                        {threshold: 0.7}
                    );
                    observer.observe(wrap);
                }

                setupLogoAnimation();
            })();

        </script>
    </div>
    <style>
        .faq-page-heading {
            position: relative;
            mask: radial-gradient(7px at 25% 0, #0000 98%, #000) 50% 7px/28px 51% repeat-x,
            radial-gradient(7px at 75% 50%, #000 99%, #0000 101%) top/28px 14px repeat-x,
            radial-gradient(7px at 75% 100%, #0000 98%, #000) calc(50% + 14px) calc(100% - 7px)/28px 51% repeat-x,
            radial-gradient(7px at 25% 50%, #000 99%, #0000 101%) calc(50% + 14px) 100%/28px 14px repeat-x;

            mask: radial-gradient(16px at 75% 100%, #0000 98%, #000) 50% calc(100% - 16px)/64px 100% repeat-x,
            radial-gradient(16px at 25% 50%, #000 99%, #0000 101%) bottom/64px 32px repeat-x;

            mask: linear-gradient(0, #0000 100vw, #000 0),
            radial-gradient(100vw, #000 calc(100% - 1px), #0000) bottom/185vw 200vw;


            //background-image: url("/uploads/misc_images/paper.jpg");
            //background-size: cover;

        }

        @media (min-width: 768px) {
            .faq-page-heading {
                /* padding not really necessary on larger screens, due to sizing of graphic */
                padding-bottom: 0;
            }
        }

        .faq-page-heading-decor-container {
            opacity: 0;
            transition: opacity 150ms;
        }

        .faq-page-heading-decor-container:has(.faq-page-heading-decor.is-ready) {
            opacity: 1;
        }

        .faq-page-heading-outer {
            background: white;
        }

        .faq-page-heading-inner {
            position: relative;
            display: flex;
            flex-direction: column;
            border: 10px solid black;
            filter: none;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
        }
        @media (min-width: 640px) {
            .faq-page-heading-inner {
                filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.5));
            }
        }


        .faq-page-heading-decor {
            border-radius: 9999px;
            height: 200px;
            width: 200px;
            background-position: center;
            background-repeat: no-repeat;
        }

        .faq-page-heading-decor-text {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            //pointer-events: none;
            overflow: visible;
        }

        @media (prefers-reduced-motion: reduce) {
            .animated-heading__char {
                opacity: 1;
                transform: none;
                animation: none;
            }
        }

        .ring-text {
            fill: white;
            font-size: 22px;
            letter-spacing: 0;
        }
    </style>
</div>