---
const {color = 'black', size = 24, style = '', className='', svgClassName=''} = Astro.props;
---
<div
        class={className}
        style={`width:${size}px; height:${size}px; color:${color}; ${style}`}
>
    <svg class={svgClassName}
         xmlns="http://www.w3.org/2000/svg"
         viewBox="0 0 1151.91 1151.91"
         fill="none"
         stroke="currentColor"
         stroke-width="50"
         aria-hidden="true"
    >
        <path
                d="M504.01,758.77c-6.06-27.14-19.66-51.88-39.33-71.55-19.67-19.66-44.41-33.26-71.55-39.33l-322.05-71.94,322.05-71.94c27.14-6.06,51.88-19.66,71.55-39.33,19.67-19.66,33.26-44.4,39.33-71.55l71.94-322.05,71.94,322.05c6.06,27.14,19.66,51.88,39.33,71.55,19.67,19.66,44.4,33.26,71.54,39.33l322.05,71.94-322.05,71.94c-27.14,6.06-51.88,19.66-71.55,39.33-19.66,19.67-33.26,44.41-39.33,71.55l-71.94,322.05-71.94-322.05Z"/>
        <path d="M575.96,142.19l56.82,254.33c6.71,30.02,21.75,57.38,43.49,79.13,21.75,21.75,49.11,36.79,79.13,43.49l254.33,56.82-254.33,56.82c-30.02,6.71-57.38,21.75-79.13,43.49s-36.79,49.11-43.49,79.13l-56.82,254.33-56.82-254.33c-6.71-30.02-21.75-57.38-43.49-79.13-21.75-21.75-49.11-36.79-79.13-43.49l-254.33-56.82,254.33-56.82c30.02-6.71,57.38-21.75,79.13-43.49,21.75-21.75,36.79-49.11,43.49-79.13l56.82-254.33M575.96,0l-87.07,389.76c-11.05,49.45-49.67,88.08-99.12,99.12L0,575.96l389.76,87.07c49.45,11.05,88.08,49.67,99.12,99.12l87.07,389.76,87.07-389.76c11.05-49.45,49.67-88.08,99.12-99.12l389.76-87.07-389.76-87.07c-49.45-11.05-88.08-49.67-99.12-99.12L575.96,0h0Z"/>
    </svg>
</div>
