---
import SparkleSvg from "./SparkleSvg.astro";

interface Props {
    color?: string;
    size?: number;
    gap?: number;
    offset?: number;
    class?: string;
    style?: string;
}

const {
    color = "black",
    fillColor = "none",
    size = 24,
    gap = 16,
    offset = -40,
    class: className = "",
    style = "",
} = Astro.props;

const trianglePoints = [
    { x: gap, y: 0 },
    { x: 0, y: gap },
    { x: gap * 2, y: gap },
];

const clusterWidth = gap * 2 + size;
const clusterHeight = gap + size;

const sparkleStyle = (x: number, y: number) =>
    `left:${x}px; top:${y}px; width:${size}px; height:${size}px;`;
---

<div class={`sparkle-corners ${className}`} style={style} aria-hidden="true">
    <div
            class="sparkle-corners__cluster sparkle-corners__cluster--top-left"
            style={`width:${clusterWidth}px; height:${clusterHeight}px; left:-${clusterWidth + offset}px; top:-${clusterHeight + offset}px;`}
    >
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--tl-1" style={sparkleStyle(trianglePoints[0].x, trianglePoints[0].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--tl-2" style={sparkleStyle(trianglePoints[1].x, trianglePoints[1].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--tl-3" style={sparkleStyle(trianglePoints[2].x, trianglePoints[2].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
    </div>

    <div
            class="sparkle-corners__cluster sparkle-corners__cluster--bottom-right"
            style={`width:${clusterWidth}px; height:${clusterHeight}px; right:-${clusterWidth + offset}px; bottom:-${clusterHeight + offset}px;`}
    >
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--br-1" style={sparkleStyle(trianglePoints[0].x, trianglePoints[0].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--br-2" style={sparkleStyle(trianglePoints[1].x, trianglePoints[1].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
        <div class="sparkle-corners__sparkle sparkle-corners__sparkle--br-3" style={sparkleStyle(trianglePoints[2].x, trianglePoints[2].y)}>
            <SparkleSvg
                    color={color}
                    fillColor={fillColor}
                    size={size}
                    className="sparkle-corners__sparkle-svg-wrapper"
                    svgClassName="sparkle-corners__sparkle-svg"
            />
        </div>
    </div>
</div>

<style>
    @keyframes sparkle-grow-cycle {
        0% {
            transform: scale(0);
        }
        7.4074% {
            transform: scale(1);
        }
        14.8148% {
            transform: scale(0);
        }
        100% {
            transform: scale(0);
        }
    }

    @keyframes sparkle-spin-cycle {
        0% {
            transform: rotate(0deg);
        }
        14.8148% {
            transform: rotate(180deg);
        }
        100% {
            transform: rotate(180deg);
        }
    }

    .sparkle-corners {
        position: absolute;
        inset: 0;
        pointer-events: none;
        overflow: visible;
    }

    .sparkle-corners__cluster {
        position: absolute;
        pointer-events: none;
    }

    .sparkle-corners__sparkle {
        position: absolute;
        pointer-events: none;
        transform: scale(0);
        animation-name: sparkle-grow-cycle;
        animation-duration: 5400ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    :global(.sparkle-corners__sparkle-svg-wrapper) {
        width: 100%;
        height: 100%;
        display: block;
    }

    :global(.sparkle-corners__sparkle-svg) {
        width: 100%;
        height: 100%;
        display: block;
        animation-name: sparkle-spin-cycle;
        animation-duration: 5400ms;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
    }

    .sparkle-corners__sparkle--tl-1 {
        animation-delay: 0ms;
    }

    .sparkle-corners__sparkle--tl-2 {
        animation-delay: 200ms;
    }

    .sparkle-corners__sparkle--tl-3 {
        animation-delay: 400ms;
    }

    .sparkle-corners__sparkle--br-1 {
        animation-delay: 2200ms;
    }

    .sparkle-corners__sparkle--br-2 {
        animation-delay: 2400ms;
    }

    .sparkle-corners__sparkle--br-3 {
        animation-delay: 2600ms;
    }

    .sparkle-corners__sparkle--tl-1 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 0ms;
    }

    .sparkle-corners__sparkle--tl-2 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 200ms;
    }

    .sparkle-corners__sparkle--tl-3 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 400ms;
    }

    .sparkle-corners__sparkle--br-1 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 2200ms;
    }

    .sparkle-corners__sparkle--br-2 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 2400ms;
    }

    .sparkle-corners__sparkle--br-3 :global(.sparkle-corners__sparkle-svg) {
        animation-delay: 2600ms;
    }
</style>