---
import SparkleSvg from "./SparkleSvg.astro";

interface Props {
    color?: string;
    size?: number;
    gap?: number;
    offset?: number;
    sparkleDurationMs?: number;
    stepMs?: number;
    betweenClustersPauseMs?: number;
    cyclePauseMs?: number;
}

const {
    color = "black",
    size = 24,
    gap = 18,
    offset = 10,
    sparkleDurationMs = 800,
    stepMs = 180,
    betweenClustersPauseMs = 450,
    cyclePauseMs = 700,
} = Astro.props;

const secondClusterStartMs = stepMs * 2 + sparkleDurationMs + betweenClustersPauseMs;
const totalCycleMs = secondClusterStartMs + stepMs * 2 + sparkleDurationMs + cyclePauseMs;

const clusterWidth = gap * 2 + size;
const clusterHeight = gap + size;

const activeEndPct = (sparkleDurationMs / totalCycleMs) * 100;
const activeMidPct = ((sparkleDurationMs / 2) / totalCycleMs) * 100;
---

<div class="sparkle-corners" aria-hidden="true">
    <div class="cluster cluster--top-left">
        <div class="sparkle sparkle--tl-1">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
        <div class="sparkle sparkle--tl-2" style="--bg-color: #ff5733; --padding: 20px;">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
        <div class="sparkle sparkle--tl-3">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
    </div>

    <div class="cluster cluster--bottom-right">
        <div class="sparkle sparkle--br-1">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
        <div class="sparkle sparkle--br-2">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
        <div class="sparkle sparkle--br-3">
            <SparkleSvg color={color} size={size} className="sparkle-wrapper" svgClassName="sparkle-svg"/>
        </div>
    </div>
</div>

<style define:vars={{
    size,
    gap,
    offset,
    sparkleDurationMs,
    stepMs,
    betweenClustersPauseMs,
    cyclePauseMs,
    secondClusterStartMs,
    totalCycleMs,
    clusterWidth,
    clusterHeight,
    activeMidPct,
    activeEndPct,
}}>
    @keyframes sparkle-grow-and-shrink-cycle {
        0% {
            transform: scale(0);
        }

    calc
    (
    var
    (
    --activeMidPct

    )
    *

    1
    %
    )
    {
        transform: scale(1)
    ;
    }
    calc
    (
    var
    (
    --activeEndPct

    )
    *

    1
    %
    )
    {
        transform: scale(0)
    ;
    }
    100
    %
    {
        transform: scale(0)
    ;
    }
    }

    @keyframes sparkle-spin-cycle {
        0% {
            transform: rotate(0deg);
        }

    calc
    (
    var
    (
    --activeEndPct

    )
    *

    1
    %
    )
    {
        transform: rotate(180deg)
    ;
    }
    100
    %
    {
        transform: rotate(180deg)
    ;
    }
    }

    .sparkle-corners {
        position: absolute;
        inset: 0;
        overflow: visible;
        pointer-events: none;
    }

    .cluster {
        position: absolute;
        width: calc(var(--clusterWidth) * 1px);
        height: calc(var(--clusterHeight) * 1px);
    }

    .cluster--top-left {
        left: calc((var(--clusterWidth) + var(--offset)) * -1px);
        top: calc((var(--clusterHeight) + var(--offset)) * -1px);
    }

    .cluster--bottom-right {
        right: calc((var(--clusterWidth) + var(--offset)) * -1px);
        bottom: calc((var(--clusterHeight) + var(--offset)) * -1px);
    }

    .sparkle {
        position: absolute;
        background-color: var(--bg-color);
        width: calc(var(--size) * 1px);
        height: calc(var(--size) * 1px);
        pointer-events: none;
        transform: scale(0);
        animation-name: sparkle-grow-and-shrink-cycle;
        animation-duration: calc(var(--totalCycleMs) * 1ms);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .sparkle--tl-1 {
        left: calc(var(--gap) * 1px);
        top: 0;
    }

    .sparkle--tl-2 {
        left: 0;
        top: calc(var(--gap) * 1px);
    }

    .sparkle--tl-3 {
        left: calc(var(--gap) * 2px);
        top: calc(var(--gap) * 1px);
    }

    .sparkle--br-1 {
        left: calc(var(--gap) * 1px);
        top: 0;
    }

    .sparkle--br-2 {
        left: 0;
        top: calc(var(--gap) * 1px);
    }

    .sparkle--br-3 {
        left: calc(var(--gap) * 2px);
        top: calc(var(--gap) * 1px);
    }

    /*
      Shift each sparkle backward in time so its active window lands
      at the desired point in the overall cycle.
    */
    .sparkle--tl-1 {
        animation-delay: 0ms;
    }

    .sparkle--tl-2 {
        animation-delay: calc(var(--stepMs) * -1ms);
    }

    .sparkle--tl-3 {
        animation-delay: calc(var(--stepMs) * -2ms);
    }

    .sparkle--br-1 {
        animation-delay: calc(var(--secondClusterStartMs) * -1ms);
    }

    .sparkle--br-2 {
        animation-delay: calc((var(--secondClusterStartMs) + var(--stepMs)) * -1ms);
    }

    .sparkle--br-3 {
        animation-delay: calc((var(--secondClusterStartMs) + var(--stepMs) * 2) * -1ms);
    }

    :global(.sparkle-wrapper) {
        width: 100%;
        height: 100%;
        display: block;
    }

    :global(.sparkle-svg) {
        width: 100%;
        height: 100%;
        display: block;
        animation-name: sparkle-spin-cycle;
        animation-duration: calc(var(--totalCycleMs) * 1ms);
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }

    .sparkle--tl-1 :global(.sparkle-svg) {
        animation-delay: 0ms;
    }

    .sparkle--tl-2 :global(.sparkle-svg) {
        animation-delay: calc(var(--stepMs) * -1ms);
    }

    .sparkle--tl-3 :global(.sparkle-svg) {
        animation-delay: calc(var(--stepMs) * -2ms);
    }

    .sparkle--br-1 :global(.sparkle-svg) {
        animation-delay: calc(var(--secondClusterStartMs) * -1ms);
    }

    .sparkle--br-2 :global(.sparkle-svg) {
        animation-delay: calc((var(--secondClusterStartMs) + var(--stepMs)) * -1ms);
    }

    .sparkle--br-3 :global(.sparkle-svg) {
        animation-delay: calc((var(--secondClusterStartMs) + var(--stepMs) * 2) * -1ms);
    }
</style>